.artist-search-index-item {

}


#artist-search-index-item {

}

#artist-search-index-name {
  color: #ffffff;
}

#artists-search-index {
  margin: 20px 20px 20px 20px;
}

.artist-search-index-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;

}

#artist-search-img-cont {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}
