#search-container {
  width: 100%;
  height: 100%;
}

#search-search-bar {
  margin: auto;
  background-color: #282828;
  height: 220px;
  width: 100%;
  border:none;
  padding-left: 10px;
  font-size: 65px;
  color: #ffffff;
  position: relative;
}
