#search-container {
  width: 100%;
  height: 100%;
}

#search-search-bar {
  margin: auto;
  background-color: #282828;
  height: 220px;
  width: 100%;
  border:none;
  padding-left: 20px;
  font-size: 70px;
  color: #ffffff;
  position: relative;
}

#search-type-list {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  justify-content: center;
  list-style: none;
}

.type-radio {
  visibility: hidden;
}

.type-radio-label {
  cursor: pointer;
}



.type-radio-label:hover {
  filter:brightness(50%);
}
