#playlist-index-item-img-cont {
  width: 50px;
  height: 50px;
}

#playlist-index-list-item {
  margin: 10px 30px 10px 30px;
}

#playlist-index-item-title {
  font-size: 20px;
  color: white;
  font-family:'Lato', sans-serif;
}
