#playlist-index-item-img-cont {
  width: 180px;
  height: 180px;
  background-color: #282828;
}
#playlist-index-item-music-note {
  background-position: center;
  width: 180px;
  height: 180px;
  background-image: image-url(music_note_black);
  background-size: 75px 75px;
  background-repeat: no-repeat;
}
#playlist-index-item-music-note:hover {
  width: 180px;
  height: 180px;
  background-image: image-url(music_note_white);
  background-size: 75px 75px;
  background-repeat: no-repeat;}

#playlist-index-item-img-cont:hover {
  filter: brightness(50%);
}

#playlist-index-list-item {
  margin: 10px 30px 10px 30px;

}

#playlist-index-item-title {
  text-align: center;
  margin: 10 0 10 0;
  font-size: 20px;
  color: white;
  font-family:'Lato', sans-serif;
}

#playlist-index-item-creator {
  text-align: center;
  font-size: 15px;
  color: white;
  font-family:'Lato', sans-serif;
}
