#new-playlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#new-playlist-header {

}

#new-playlist-label {

}

#new-playlist-title-input {
  background-color: #282828
}

#new-playlist-submit {

}

#new-playlist-modal-after-open {
  opacity: .4;
}
