#playlist-show-container {
  margin-top: 30px;
  display:flex;
  justify-content: space-around;
  height: 100%;
}

// Left
#playlist-show-container-left{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 15px;
}
#playlist-show-image{
  width: 320px;
  height: 320px;
}
#playlist-show-image:hover {
  filter: brightness(50%);

}

#playlist-show-title{
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  margin-top: 20px;
}

#playlist-show-creator{
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  margin-top: 18px;

}

#playlist-show-song-count{
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 20px;
}


#playlist-show-delete-link  {
  color: #ffffff;
  margin: 0 auto;
  width: 130px;
  text-align: center;
}

#playlist-show-delete-link:hover {
  filter: brightness(50%);

}

// Right
#playlist-show-container-right{
  display: flex;
  flex-direction: column;
  width: 70%;
  
}

#playlist-show-container-songs {

}
