#playlist-show-container {
  margin-top: 30px;
  display:flex;
  justify-content: space-around;
  height: 100%;
  margin-left: 100px;
}

// Left
#playlist-show-container-left{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 15px;
}
#playlist-show-image{
  width: 240px;
  height: 240px;
}
#playlist-show-image:hover {
  filter: brightness(50%);

}

#playlist-show-follow {
  height: 30px;
  width: 150px;
  border-radius: 30px;
  font-size: 15px;
  background-color: #1DB954;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  border: none;
  outline: none;

}

#playlist-show-title{
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  margin-top: 20px;
}

#playlist-show-creator{
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  margin-top: 18px;

}

#playlist-show-song-count{
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 20px;
}


#playlist-show-delete-link  {
  color: #ffffff;
  margin: 0 auto;
  width: 130px;
  text-align: center;
  margin-top: 15px;
}

#playlist-show-delete-link:hover {
  filter: brightness(50%);

}

// Right
#playlist-show-container-right{
  display: flex;
  flex-direction: column;
  width: 70%;

}

#playlist-show-container-songs {

}
