.browse-container {

}

.browse-options-ul {
  text-align: center;
  list-style: none;
  margin-bottom: 30px;
}

.browse-unselected {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  color: #ffffff;
  font-size: 15px;
  filter:brightness(70%);

}

.browse-top-bar {
  display: flex;
  justify-content: space-around;

}

.browse-selected{
  filter:brightness(100%);
  display: inline-block;
  margin: 0px 10px 0px 10px;
  color: #ffffff;
  font-size: 15px;
  border-bottom: 2px solid #1DB954;

}

.browse-options-ul li:hover {
  filter:brightness(100%);
}
