#profile-page-container {

}

#profile-background {
background-image: linear-gradient(rgb(76, 82, 71), rgb(7, 8, 7) 85%);
  width: 120%;
  height: 120%;
}

#profile-page-picture {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

#profile-name {

}

#profile-playlists-label {

}

#profile-index-items {

}

#profile-index-list {

}
