#profile-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

#profile-follow-unfollow:hover {
  filter:brightness(150%);
}

#profile-follow-unfollow {
  height: 30px;
  width: 150px;
  border-radius: 30px;
  font-size: 15px;
  background-color: #1DB954;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  border: none;
  outline: none;
}

#profile-page-picture {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  box-shadow: 0 0 30px rgba(0,0,0,.3);
  
}

#profile-name {
  color: #ffffff;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#profile-playlists-label {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#profile-index-items {

}

#profile-index-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
