#playlist-index-background{

  background-image: linear-gradient(rgb(43, 64, 110), rgb(4, 6, 11) 85%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;

}

#genre-index-background {
  background-image: linear-gradient(rgb(94, 59, 60), rgb(9, 5, 6) 85%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;
}



#album-show-background {
  background-image: linear-gradient(rgb(204, 159, 0), rgb(4, 6, 11) 85%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;

}

#artist-page-background {
  background-image: linear-gradient(rgb(16, 7, 25), rgb(4, 6, 11) 85%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -11;

}



#playlist-show-background {
  background-image: linear-gradient(rgb(136, 15, 3), rgb(4, 6, 11) 85%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;
}

#search-background{
  background-image: linear-gradient(rgb(28, 1, 24), rgb(4, 6, 11) 85%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;
}

#featured-index-background {
  background-image: linear-gradient(rgb(134, 53, 19), rgb(13, 5, 1) 85%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;
}

#discover-index-background {
  background-image: linear-gradient(rgb(96, 67, 57), rgb(9, 6, 5) 85%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;
}

#genre-show-index-background {
  background-image: linear-gradient(rgb(14, 95, 138), rgb(1, 9, 13) 85%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;
}

#profile-background{

  background-image: linear-gradient(rgb(48, 84, 105), rgb(4, 8, 10) 85%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;

}
