#playlist-index-background{

  background-image: linear-gradient(rgb(43, 64, 110), rgb(4, 6, 11) 110%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;

}



#album-show-background {
  background-image: linear-gradient(rgb(204, 159, 0), rgb(4, 6, 11) 110%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;

}

#artist-page-background {
  background-image: linear-gradient(rgb(16, 7, 25), rgb(4, 6, 11) 110%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -11;

}



#playlist-show-background {
  background-image: linear-gradient(rgb(136, 15, 3), rgb(4, 6, 11) 110%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;
}

#search-background{
  background-image: linear-gradient(rgb(28, 1, 24), rgb(4, 6, 11) 110%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;
}


#profile-background{

  background-image: linear-gradient(rgb(32, 120, 114), rgb(3, 12, 11) 110%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;

}
