#playlist-index-background{

  background-image: linear-gradient(rgb(43, 64, 110), rgb(4, 6, 11) 110%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;

}

#playlist-show-background {
  background-image: linear-gradient(rgb(136, 15, 3), rgb(4, 6, 11) 110%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;
}

#profile-background{

  background-image: linear-gradient(rgb(76, 82, 71), rgb(7, 8, 7) 110%);
  position: fixed;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  z-index: -10;

}
