
#main-page-header-grid-container {
  grid-area: header;
  background-color: rgba(40, 64, 110, 0);

}



#main-page-sidebar-grid-container {
  grid-area: sidebar;
  background-color: rgba(40, 40, 40, .7);
  position: fixed;
  left: 0;
  height: 100%;
  width: 150px;


}

#main-page-mediaplayer-grid-container {
  grid-area: mediaplayer;
  background-color: rgba(40, 40, 40, 1);
  position: sticky;
  bottom: 0;
  width: 100%;
}

#main-page-main-content-grid-container {
  grid-area: main;

}

#main-page-background {
  // background-image: linear-gradient(rgb(43, 64, 110), rgb(4, 6, 11) 150%);
  // position: fixed;
  // height:100%;
  // width:100%;
  // bottom:0px;
  // left:0px;
  // z-index: -10;
}

#main-page-grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 50px auto 90px;
  grid-template-areas:
  "sidebar header"
  "sidebar main"
  "mediaplayer mediaplayer";
}
