html,
  body,
  ul,
  p,
  div,
  h1,
  h2,
  Link,
  h3,
  button {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    border: none;
    text-decoration: none;
    box-shadow: none;
    border-color: none;
    opacity: 1;
    background-color: transparent;
  }
  Link, a {
    color: inherit;

  }
  html, body {
    height: 100%;
    width: 100%;
  }

  #root{
    height: 100%;
    width: 100%;
  }
