.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splash-header-link{
  margin-bottom: 10px;
  color: #1DB954;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
}
.splash-header-link h1 {
  font-family: 'Bree Serif', serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  padding-left: 10px;
  outline: none;

}

.login-input {
  width: 300px;
  height: 40px;
}

#session-form-welcome{
  font-size: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#session-form-welcome span{
  font-size: 50;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#welcome-message {
  font-size: 50;
}

#border-line{
  margin: 10px 0px 10px 0px;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

#submit-form-button {
  margin-bottom: 15px;
  height: 40px;
  width: 300px;
  border-radius: 30px;
  font-size: 25px;
  background-color: #1DB954;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  border-style: none;
}
